
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


:root{
    --primary: rgb(22, 171, 171);
    --dark-primary: #1b1f24;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Nunito Sans' ,sans-serif;
}


/*header*/

header{
    background-color: var(--dark-primary);
    padding: 10px 20px 30px 40px; /*top right bottom left*/
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'popins',sans-serif;
}

.logo{
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--primary);
}

a .logo{
    text-decoration: none;
    
}


header ul{
    display: flex;
    list-style: none;
    

}

header li {
    margin-right: 30px;
}

header ul li a{
    color: white;
    text-decoration: none;
    text-transform: none;
    font-weight: 600;
}

header li a:hover{
    color: aqua;
}





/*Section of hero home page*/

section.hero{
    background-color: var(--dark-primary);
    color: white;
    display: flex;
    padding: 20px 120px 0 200px;
    align-items: center;
   
}

.hero_title{
    font-size: 48px;
    font-weight: 900;
}

.hero_title > span{
    color: var(--primary);

}

.hero_desc{
    color: beige;
}

.social-icons{
    margin: 20px 0;
}

.social-icons li{
    margin-right: 20px;
}

ul.social-icons {
    list-style: none;
    display: flex;
}

.social-icons li > a{
    text-decoration: none;
    color: white;
}

.social-icons li > a:hover{
    color: var(--primary);
}

.social-icons li a > i.fa-linkedin:hover{
    color: #0A66C2;
}

.social-icons li a > i.fa-facebook:hover{
    color: #1877F2;
}

.social-icons li a > i.fa-instagram:hover{
    color: #d62976;
}


/* Buttons */

.hero-btn button{
    margin-right: 12px;
}

.btn {
    padding: 10px 20px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--primary);
    color: var(--dark-primary);
}

.btn.btn-primary {
    background-color: var(--primary);
    font-weight: 700;
    color: white;
}

.btn.btn-primary:hover{
    background-color: aqua;
    color: var(--dark-primary);

}


.btn-download-cv{
    background-color: var(--dark-primary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
    font-weight: 600;
}



header button:hover{
    cursor: pointer;
    background-color: var(--primary);
    color: var(--dark-primary);
}





/*About me section*/

.about-section{
    background-color: #22282f;
    color: white;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    border: 4px solid var(--primary);
    box-shadow: 1px 1px 20px var(--primary); 
}

.about-section--desc{
    margin-left: 100px;
    max-width: 450px;
}

.about-section--desc h4{
    font-size: 30px;
    font-weight: 700;
}

.about-section--desc h4 > span{
    color: var(--primary);

}

.about-section--desc ul{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.about-section--desc li {
    margin-bottom: 10px ;
    color: gray;
}

.about-section--desc li > a{
    text-decoration: none;
    color: gray;
}

.about-section--desc li > a:hover {
    color: var(--primary);
}

.about-section--desc li > strong{
    color: white;

}






/*work section*/
.work-section{
    background-color: var(--dark-primary);
    color: white;
    padding: 60px;
    text-align: center;
}

.work-section-title{
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 800;
}

.work-section-items{
    display: flex;
    justify-content: center;
}

.work-section-box{
    background-color: #22282f;
    padding: 30px;
    max-width: 300px;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    margin-right: 40px;
    
}

.work-section-box:hover{
    background-color: #14171c;
}

.work-section-box p{
    color: gray;
    font-size: 14px;
}

.work-section-box a{
    text-decoration: none;
    color: var(--primary);
    display: block;
    margin-top: 10px;
}

.about-section-icon--desc{
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-section-icon--desc p{
    padding-top: 5px;
}



.work-section--box-icon{
    background-color: var(--primary);
    padding: 10px;
    border-radius: 50%;
}


.work-section--box-icon:hover{
    background-color: #1877F2;
}




/*contact me*/

.contact-section{
    background-color: #22282f;
    color: white;
    padding: 40px;
    text-align: center;
}


.contact-section h4{
    font-size: 30px;
    margin: 20px 0;
    font-weight: 800;
}

.contact-section form input,textarea{
    padding: 5px 10px;
    outline-color: var(--primary);
    width: 400px;
    border: none;
    background-color: rgb(166, 170, 170);
    border-radius: 3px;
    margin-bottom: 10px;
}

footer{
    background-color: var(--dark-primary);
    color: gray;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;

}

footer a{
    text-decoration: none;
    color: var(--primary);
}



